<div class="page-container">
  <div class="container text-center">
    <h1>{{ title }}</h1>
  </div>

  <div class="app-container">
    <button class="create" id="create" (click)="create()">Create</button>
      <app-super-counter 
        class="super-counter" 
        *ngFor="let supercounter of supercounters"
        [supercounter] = "supercounter">
      </app-super-counter>

      <app-counter 
        class="counter" 
        *ngFor="let counter of counters"
        [counter] = "counter">
      </app-counter>
    
  </div>
</div>


