.page-container{
  background-color: #1E2749;
  color: #FAFAFF;
  min-height: 100vh;
}

.container{
  padding: 50px 0;
}

.app-container{
  text-align: center;
}

.create{
  margin: 20px auto;
  display: block;
  width: 20rem;
}